#overlay-canvas, #video-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    user-select: none;
}

#overlay-canvas {
    z-index: 10;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}
